<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LabCOF.Properties.Graficos" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LabCOF.Properties.SettingsBluetooth" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LabCOF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LabCOF.Properties.Graficos>
            <setting name="E0activo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="E0name" serializeAs="String">
                <value>Entrada 0</value>
            </setting>
            <setting name="E0x" serializeAs="String">
                <value>tiempo</value>
            </setting>
            <setting name="E0y" serializeAs="String">
                <value>E0</value>
            </setting>
            <setting name="E0mostrar" serializeAs="String">
                <value>Y1</value>
            </setting>
            <setting name="E0color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="E1activo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="E1name" serializeAs="String">
                <value>Entrada 1</value>
            </setting>
            <setting name="E1x" serializeAs="String">
                <value>tiempo</value>
            </setting>
            <setting name="E1y" serializeAs="String">
                <value>E1</value>
            </setting>
            <setting name="E1mostrar" serializeAs="String">
                <value>Y1</value>
            </setting>
            <setting name="E1color" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="E2activo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="E2name" serializeAs="String">
                <value>Entrada 2</value>
            </setting>
            <setting name="E2x" serializeAs="String">
                <value>tiempo</value>
            </setting>
            <setting name="E2y" serializeAs="String">
                <value>E2</value>
            </setting>
            <setting name="E2mostrar" serializeAs="String">
                <value>Y1</value>
            </setting>
            <setting name="E2color" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="E3activo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="E3name" serializeAs="String">
                <value>Entrada 3</value>
            </setting>
            <setting name="E3x" serializeAs="String">
                <value>tiempo</value>
            </setting>
            <setting name="E3y" serializeAs="String">
                <value>E3</value>
            </setting>
            <setting name="E3mostrar" serializeAs="String">
                <value>Y1</value>
            </setting>
            <setting name="E3color" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="E4activo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="E4name" serializeAs="String">
                <value>Entrada 4</value>
            </setting>
            <setting name="E4x" serializeAs="String">
                <value>tiempo</value>
            </setting>
            <setting name="E4y" serializeAs="String">
                <value>E4</value>
            </setting>
            <setting name="E4mostrar" serializeAs="String">
                <value>Y1</value>
            </setting>
            <setting name="E4color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="E5activo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="E5name" serializeAs="String">
                <value>Entrada 5</value>
            </setting>
            <setting name="E5x" serializeAs="String">
                <value>tiempo</value>
            </setting>
            <setting name="E5y" serializeAs="String">
                <value>E5</value>
            </setting>
            <setting name="E5mostrar" serializeAs="String">
                <value>Y1</value>
            </setting>
            <setting name="E5color" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="Panel2Activo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActivoY2panel1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActivoY2panel2" serializeAs="String">
                <value>False</value>
            </setting>
        </LabCOF.Properties.Graficos>
        <LabCOF.Properties.SettingsBluetooth>
            <setting name="TimeRcepcion" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DatoTiempo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EjeX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EjeY1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EjeY2" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="NumDatos" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="DatoEnviado0" serializeAs="String">
                <value>84</value>
            </setting>
            <setting name="DatoEnviadoHi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DatoEnviadoLow" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="dGVtablaD1" serializeAs="String">
                <value>E0</value>
            </setting>
            <setting name="dGVtablaD2" serializeAs="String">
                <value>E1</value>
            </setting>
        </LabCOF.Properties.SettingsBluetooth>
        <LabCOF.Properties.Settings>
            <setting name="NombrePuerto" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="fon1Col1" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="fon1Col2" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="fon2Col1" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="fon2Col2" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="cuadCol1" serializeAs="String">
                <value>35, 35, 35</value>
            </setting>
            <setting name="cuadCol2" serializeAs="String">
                <value>41, 41, 41</value>
            </setting>
            <setting name="tituloP" serializeAs="String">
                <value>X VS Y</value>
            </setting>
            <setting name="tituloX" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="tituloY" serializeAs="String">
                <value>Y1</value>
            </setting>
            <setting name="cuadricula" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TipoDePunto" serializeAs="String">
                <value>Circle</value>
            </setting>
            <setting name="UnirConLinea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorPunto" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="sizePunto" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SettingsModificados" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="leyenda" serializeAs="String">
                <value>Serie1</value>
            </setting>
            <setting name="tituloscolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="leyendacolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="leyendacolo1" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="maxX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="minX" serializeAs="String">
                <value>-100</value>
            </setting>
            <setting name="maxY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="minY" serializeAs="String">
                <value>-100</value>
            </setting>
            <setting name="AutoEsc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tituloY2" serializeAs="String">
                <value>Y2</value>
            </setting>
            <setting name="ColorPunto2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="tituloP2" serializeAs="String">
                <value>X VS Y</value>
            </setting>
            <setting name="tituloX2" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="tituloY22" serializeAs="String">
                <value>Y1</value>
            </setting>
            <setting name="titutloY222" serializeAs="String">
                <value>Y2</value>
            </setting>
            <setting name="maxX2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="minX2" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="maxY2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="minY2" serializeAs="String">
                <value>-100</value>
            </setting>
            <setting name="AutoEsc2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorejeX" serializeAs="String">
                <value>White</value>
            </setting>
        </LabCOF.Properties.Settings>
    </userSettings>
</configuration>